# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm / IntelliJ IDEA
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Anaconda
anaconda_projects/

# Distribution / packaging
*.egg-info/
dist/
build/